:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:first-child{
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin-left: 5px; 
}

img {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 5px;
    width: 350px;     
    height: 450px;
    clip-path: circle(30%);
}

.aboutme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 70px 0;
    gap: 50px;
}

.aboutme .text {
    flex: 5;
} 

.aboutme .text h2 {
    font-size: 45;
}

.aboutme .text .link {
    margin-top: 25px;
}

.aboutme .text .link a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
}

.aboutme .profile {
    flex: 2;
}

